.user_details__wrapper{
    display:flex;
    width:40%;
    justify-content: space-between;
    margin:auto;
    margin-top:5em;
}

.user_profile_posts__heading{
    display:flex;
    justify-content: space-between;
    width:40%;
    margin:auto;
}

.user_profile_posts__heading button {
    border:none;
    padding:10px;
    border-radius:50%;
    font-size:1.2rem;
    cursor:pointer;
}
.user_details__box button{
    border:none;
    padding:10px;
    border-radius:50%;
    font-size:1.2rem;
    cursor:pointer;
}