.user_posts__wrapper{
    display:flex;
    justify-content: space-between;  
    width:40%;
    margin:auto;  
    margin-top:3em;
}

.user_posts__box{
    width:30%;
    border:1px solid var(--light-hover-color);
    padding:10px;
    border-radius:1em;
    box-sizing:border-box;
    overflow:hidden;
    height:10rem;
    cursor:pointer;

}